In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
IDIR = '../data/'

In [2]:
products = pd.read_csv(IDIR + 'products.csv')

In [6]:
products[products['product_id'].isin([2075, 43553, 27740, 14609, 6433])]

,product_id,product_name,aisle_id,department_id
2074,2075,Serenity Ultimate Extrema Overnight Pads,126,11
6432,6433,Raw Veggie Wrappers,13,20
14608,14609,Soy Powder Infant Formula,92,18
27739,27740,Chocolate Love Bar,45,19
43552,43553,Orange Energy Shots,64,7